<div>

  <mat-toolbar><mat-toolbar-row> <span><h2>{{title}}</h2></span><span class="spacer"></span></mat-toolbar-row></mat-toolbar> 
  
  <table mat-table [dataSource]="DoneIssue" class="demo-table">
  
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
    </ng-container>
  
   
    <ng-container matColumnDef="sap">
      <th mat-header-cell *matHeaderCellDef> SAP# </th>
    </ng-container>
    <div style="margin-left: 70px;"></div>
  
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef style="margin-right: 30px;margin-right: 30px;"> Project </th>
    </ng-container>
  
    
    <ng-container matColumnDef="versionFixed">
      <th mat-header-cell *matHeaderCellDef> Version Fixed </th>
    </ng-container>
  
    <ng-container matColumnDef="dueDateCode">
      <th mat-header-cell *matHeaderCellDef style="margin-right: 30px;margin-right: 30px;"> Due Date Code </th>
    </ng-container>
  
    <ng-container matColumnDef="dueDateDelivery">
      <th mat-header-cell *matHeaderCellDef> Due Date Delivery</th>
      
    </ng-container>
  
    <ng-container matColumnDef="watch">
      <th mat-header-cell *matHeaderCellDef> Watch </th>
     
    </ng-container>
  
    <ng-container matColumnDef="delivered">
      <th mat-header-cell *matHeaderCellDef> Delivered </th>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
  
  
  </table>
  
  <mat-toolbar>
    <mat-icon (click)="showOpenIssue()">{{  openIssueTable ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    <h3>Open Issues ({{openIssueCount}})</h3>
  </mat-toolbar>
  <table mat-table [dataSource]="issuesData" class="mat-elevation-z8 demo-table" *ngIf="openIssueTable">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="sap">
      <th mat-header-cell *matHeaderCellDef> SAP# </th>
      <td mat-cell *matCellDef="let element"> {{element.sap}} </td>
    </ng-container>
  
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.project}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="versionFixed">
      <th mat-header-cell *matHeaderCellDef> Version Fixed </th>
      <td mat-cell *matCellDef="let element"> {{element.versionFixed}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dueDateCode">
      <th mat-header-cell *matHeaderCellDef> Due Date Code </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDateCode}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dueDateDelivery">
      <th mat-header-cell *matHeaderCellDef> Due Date Delivery</th>
      <td mat-cell *matCellDef="let element"> {{element.dueDateDelivery}} </td>
    </ng-container>
  
    <ng-container matColumnDef="watch">
      <th mat-header-cell *matHeaderCellDef> Watch </th>
      <td mat-cell *matCellDef="let element"> <div *ngIf="element.watch; else ElseBlock">
        <input
          type="checkbox"
          id="star-checkbox"
          class="star-checkbox"
          checked
        />
        <label for="star-checkbox" class="star-label"></label>
      </div>
      <ng-template #ElseBlock>
        <input type="checkbox" />
      </ng-template></td>
    </ng-container>
  
    <ng-container matColumnDef="delivered">
      <th mat-header-cell *matHeaderCellDef> Delivered </th>
      <td mat-cell *matCellDef="let element">
            <input type="checkbox" />
      </td>
    </ng-container> 
  
    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr> -->
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
  
  <mat-toolbar>
    <mat-icon (click)="showReadyIssue()">{{  readyIssueTable ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    <h3>Ready To Deliver ({{readyIssueCount}})</h3>
  </mat-toolbar>
  <table mat-table [dataSource]="openIssue" class="mat-elevation-z8 demo-table" *ngIf="readyIssueTable">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="sap">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{element.sap}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> {{element.project}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="versionFixed">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> {{element.versionFixed}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dueDateCode">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.dueDateCode}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dueDateDelivery">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDateDelivery}} </td>
    </ng-container>
  
    <ng-container matColumnDef="watch">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <div *ngIf="element.watch; else ElseBlock">
        <input
          type="checkbox"
          id="star-checkbox"
          class="star-checkbox"
          checked
        />
        <label for="star-checkbox" class="star-label"></label>
      </div>
      <ng-template #ElseBlock>
        <input type="checkbox" />
      </ng-template> </td>
    </ng-container>
  
    <ng-container matColumnDef="delivered">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> <div *ngIf="element.delivered; else ElseBlock">
        <input
          type="checkbox"
          id="star-checkbox"
          class="star-checkbox"
          checked
        />
        <label for="star-checkbox" class="star-label"></label>
      </div>
      <ng-template #ElseBlock>
        <input type="checkbox" />
      </ng-template> </td>
    </ng-container> 
  
  
    <mat-toolbar><mat-toolbar-row> <span>{{title}}</span><span class="spacer"></span></mat-toolbar-row></mat-toolbar>
  
   //--------------------------------------grouping---------------
  
  
  
    
  
   
  
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-toolbar>
    <mat-icon (click)="showDoneIssue()">{{ doneIssueTable ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    <h3>Done ({{doneIssueCount}})</h3>
  </mat-toolbar>
  <table mat-table [dataSource]="DoneIssue" class="mat-elevation-z8 demo-table" *ngIf="doneIssueTable">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="sap">
      <th mat-header-cell *matHeaderCellDef> SAP# </th>
      <td mat-cell *matCellDef="let element"> {{element.sap}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.project}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="versionFixed">
      <th mat-header-cell *matHeaderCellDef> Version Fixed </th>
      <td mat-cell *matCellDef="let element"> {{element.versionFixed}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dueDateCode">
      <th mat-header-cell *matHeaderCellDef> Due Date Code </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDateCode}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dueDateDelivery">
      <th mat-header-cell *matHeaderCellDef> Due Date Delivery</th>
      <td mat-cell *matCellDef="let element"> {{element.dueDateDelivery}} </td>
    </ng-container>
  
    <ng-container matColumnDef="watch">
      <th mat-header-cell *matHeaderCellDef> Watch </th>
      <td mat-cell *matCellDef="let element"><div *ngIf="element.watch; else ElseBlock">
        <input
          type="checkbox"
          id="star-checkbox"
          class="star-checkbox"
          checked
        />
        <label for="star-checkbox" class="star-label"></label>
      </div>
      <ng-template #ElseBlock>
        <input type="checkbox" />
      </ng-template> </td>
    </ng-container>
  
    <ng-container matColumnDef="delivered">
      <th mat-header-cell *matHeaderCellDef> Delivered </th>
      <td mat-cell *matCellDef="let element">
        <input type="checkbox" checked/>
      </td>
    </ng-container> 
  
    <mat-toolbar><mat-toolbar-row> <span>{{title}}</span><span class="spacer"></span></mat-toolbar-row></mat-toolbar>
  
   
   
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  
  